<!DOCTYPE html>
<html>
  <head>
    <!-- Basic Page Needs
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <title>Homie</title>
    <meta charset="utf-8">
    <meta name="description" content="Homie - Homefood at your place without Cooking">
    <meta name="authors" content="Micaela Linda Villani - Stephanos Theodotou - Matilde Adan Ramirez">
      
    <!-- Mobile Specific Metas
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">

    <!-- CSS
     –––––––––––––––––––––––––––––––––––––––––––––––––– -->
     <link rel="stylesheet" href="../stylesheets/skeleton.css">
     <link rel="stylesheet" href="../stylesheets/normalize.css">
     <link rel="stylesheet" href="../stylesheets/indexstyle.css">

     <!-- FONTS
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:300|Work+Sans:900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:500|Montserrat:300,400" rel="stylesheet">
     
  </head>
    <body>
        
        <!-- main body container -->
        <div class="container">
            
            <!-- navigation bar here -->
            <nav class="row">
                <img class="nav three columns logo" src="../images/homie-logo.svg" alt="homie pot logo" height="70">
                <h1 class="nav three columns">Homie</h1>
            <!-- vendors login btn -->
                <button class="login-btn nav three columns">  
                     <a href="vendor-login"> Chefs Login </a>
                </button>                
            <!-- all vendors -->
            <!-- <div class="nav three columns">
                    <button class="login-btn">  
                        <a href="allvendors"> Our Vendors </a>
                    </button>                
                </div> -->
            </nav>

        <!-- landing page first section here -->
        <div class="row main-img"> 
        <!-- customer login btn -->
            <button class="login-btn order-now">  
                  <a href="customer-login"> Order Now </a>
            </button>
        
        </div>
    
    
        <!-- <div class="customers row">
            <div class="eight columns customers">
                <p class="customers-description"> Eat homemade dishes at your place 
                <br>
                without cooking.</p>
                <p class="customers-description"> How? </p>
                <p class="customers-description"> Choose our vendors. </p>
            </div>
        </div> -->

        </div>
    </body>

</html>
