/*
Name: Food App
Description: Index Landing Page Styling
Authors: Micaela Linda Villani & Stephanos Theodotou & Matilde Adan Ramirez
Tags: Full Stack Javascript App
*/

/* Fonts
---headings
font-family: 'Montserrat Alternates', sans-serif;
--paragraphs
font-family: 'Montserrat', sans-serif; 
*/

html, body { 
    padding: 0;
    margin: 0; 
    overflow: hidden;
}

*:before *:after {
    box-sizing: border-box;
}

@media (min-width: 550px) {
  .container {
    width: 100%; }
  .column,
  .columns {
    margin-left: 0%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }
}

body {
    width: 100vw;
    height: 100vh;
    background: url('../images/background.png')no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif; 
}

body > .container {
    max-width: 100%;
    margin: 0;
}

/* navigation */
nav.row {
    width: 100vw;
    height: 10vh;
}

nav .logo {
    height: 80px;
}

nav .login-btn.nav {
    margin-right: 2em;
    width: 130px;
    padding: 0;
}


nav h1.nav {
    position: absolute;
    left: 6em;
}

h1 {
    float: left;
    font-family: 'Montserrat Alternates', sans-serif;
    color: white;
    font-size: 40px;
}

.login-btn{
    float: right;
    font-family: 'Montserrat', sans-serif; 
    margin-top: 2%;
    background: white;
    border: 2px solid white;
    border-radius: 2px;
}

button.login-btn:hover {
    border: 3px solid #fb8b2c;
}

button.login-btn:hover a {
    color: #fb8b2c;
}


a {
    color: black;
    text-decoration: none;
}

button:hover {
    border: 2px solid #011D35;
    color: #011D35;
}

/* landing */
.landing.row {
    margin-top: 20%;
}

.landing-section {
    color: white;
    font-size: 3rem;
}

/* main image section */

div.main-img {
    width: 100vw;
    height: 90vh;
    background: url('../images/homie-kitchen-night.png')no-repeat center center;
    background-size: cover;
    margin: 0;
    background-size: 100vw 100vh;
    margin: 0;
    background-position: 0 -95px;
}

button.order-now {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 25px;
    height: 60px;
    border: 3px solid transparent
}

button.order-now:hover {
    border: 3px solid #fb8b2c;
}

button.order-now:hover a {
    color: #fb8b2c;
}



/* customers section  */

/* 
.customers.row {
    width: 100vw;
}
.customers {
    float: right;
    margin-left: 50px;
    margin-top: 50px;
}
.customers-description {
    text-align: right;
    color: white;
    font-size: 3rem;
} 
*/