/* style.css */
/* Fonts
---headings
font-family: 'Montserrat Alternates', sans-serif;
--paragraphs
font-family: 'Montserrat', sans-serif; 
*/


/* body container */
html, body { 
  padding: 0;
  margin: 0; 
  height: 100%; 
  width: 100%;
  overflow: hidden;
    font-family: 'Montserrat', sans-serif; 
}

/* first column */
#map {
  width: 48%;
  height: 100vh;
  float: left;
}

/* second column */
#vendorsMain {
  width: 48%;
  height: 100%;
  float: left;
}

/* first row  */
.filters {
  border: 1px solid black;
  width: 95%;
  height: 20%;
  padding: 15px;
}

h4 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 300;
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
  text-transform: capitalize;
  }

.cuisine-logo-container {
  height: 60%;
  margin-left: 8%;
}

.cuisine-logos {
  margin: 10px;
  position: relative;
  top: 40px;
  height: 50%;
}

/* vendors list */
#vendorList {
  width: 100%;
  height: 78%;
  overflow-y: auto;
}

/* vendors boxes */
.vendor-results {
  width: 95%;
  height: 20%;
  border: 1px solid black;
  padding: 40px 15px 15px 15px;
  transition: all 200ms ease;
}

.vendor-results.hidden {
  user-select: none;
  pointer-events: none;
  opacity: 0;
  position: absolute;
  visibility: hidden;
}

.vendor-img {
  float: left;
  height: 50%;
}

 .vendor-description {
  float: left; 
  height: 60%;
  padding: 10px;
  width: 45%;
  margin: 20px;
} 

h5.vendor-name {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 300;
  margin: 0 auto;
}

.cuisine {
  text-transform: capitalize;
}

p.dish {
  display: inline-block;
}

.get-result {
  border-radius: 4px;
  color: black;
  float: left;
  margin-top: 50px;
  width: 20%;
}