<!DOCTYPE html>
<html>
  <head>
    <!-- Basic Page Needs
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <title>Search Food Around You</title>
    <meta charset="utf-8">
    <meta name="description" content="Homie - Homefood at your place without Cooking">
    <meta name="authors" content="Micaela Linda Villani - Stephanos Theodotou - Matilde Adan Ramirez">
      
    <!-- Mobile Specific Metas
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">

    <!-- CSS
     –––––––––––––––––––––––––––––––––––––––––––––––––– -->
     <link rel="stylesheet" href="../stylesheets/skeleton.css">
     <link rel="stylesheet" href="../stylesheets/normalize.css">
     <link rel="stylesheet" href="../stylesheets/search.css">

     <!-- FONTS
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:300|Work+Sans:900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:500|Montserrat:300,400" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3F4iXPhuKT8_vud2rTJsVDtTkB9ACAaQ"></script>
     
  </head>
  <body>
   
    <!-- show map here -->
    <div id="map"></div>

    <!-- show logo filters here  -->
    <div id="vendorsMain">
      <div class="filters"> 
      <h4>Filter with</h4>
      <div class="cuisine-logo-container">
        <img src="../images/healthy.png"  id='healthy-cuisine' class="cuisine-logos healthy-cuisine">
        <img src="../images/italian.png"  id='italian-cuisine' class="cuisine-logos italian-cuisine">
        <img src="../images/greek.png"  id='greek-cuisine' class="cuisine-logos greek-cuisine">
        <img src="../images/spanish.png"  id='spanish-cuisine' class="cuisine-logos spanish-cuisine">
        <img src="../images/american.png"  id='american-cuisine' class="cuisine-logos american-cuisine">
        <img src="../images/international.png"  id='international-cuisine' class="cuisine-logos international-cuisine">
      </div>
      </div>
  <!-- show map results here -->
      <div id="vendorList">
      </div>
     </div>
    


    <script src="../javascripts/map.js"> </script>
  </body>
</html>

